<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chatbot</title>
        <!-- Adicionando o link do jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link rel="stylesheet" href="static/css/style.css">
    </head>
<body>
    <div id="chat-container">
        <h1>Chatbot</h1>
        <input type="text" id="pergunta" placeholder="Digite sua pergunta">
        <button id="perguntar">Enviar</button>
        <div id="resposta"></div>
    </div>
    <script src="static/js/main.js"></script>
</body>
</html>